.footer {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
    border-bottom: 1px solid rgba(147, 149, 152, 0.2);

    &-item {
      display: flex;
      align-items: center;
      svg {
        width: 35px;
        height: 35px;
        flex-shrink: 0;
      }

      @include max-screen(970px) {
        margin: 10px 20px;
      }
      @include max-screen(665px) {
        margin: 10px;
      }
      @include max-screen(410px) {
        margin: 10px 0;
      }
    }
    &-title {
      display: inline-block;
      margin-left: 20px;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: var(--color-cerulean);
    }

    @include max-screen(970px) {
      justify-content: center;
      flex-wrap: wrap;
    }
    @include max-screen(665px) {
      justify-content: flex-start;
    }
  }

  &__columns {
    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
    }
    &-title {
      margin-bottom: 10px;
    }
  }

  &__logo {
    display: block;
  }

  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 45px 0 60px;
    font-size: 14px;
    line-height: 21px;
    color: var(--color-blue);

    @include max-screen(1110px) {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(2, minmax(250px, 290px));
      grid-gap: 30px;
    }
    @include max-screen(660px) {
      grid-template-columns: repeat(auto-fill, minmax(250px, 290px));
    }
  }

  &__descr {
    margin: 16px 0 22px;
  }

  &__info {
    &-item {
      address {
        font-style: normal;
      }

      span {
        font-weight: 600;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }

  &__bottom {
    display: block;
    border-top: 1px solid rgba(147, 149, 152, 0.2);
    text-align: center;
    font-size: 12px;
    line-height: 50px;
    color: var(--color-blue);
  }

  &-list {
    &__link:hover {
      text-decoration: underline;
    }
  }
}

.footer-about {
  max-width: 400px;

  @include max-screen(1110px) {
    order: -2;
  }
}
.footer-form {
  width: 255px;

  @include max-screen(1110px) {
    order: -1;
  }
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  color: var(--color-white);
  background-color: var(--color-blue);

  @include max-screen(645px) {
    flex-wrap: wrap;
  }

  &__title {
    display: inline-block;
    margin-right: 25px;
    @include max-screen(470px) {
      display: block;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    @include max-screen(470px) {
      flex-direction: column;
      .banner__item {
        padding-right: 0;
      }
      .banner__item:not(:first-child) {
        padding: 0;
        &::before {
          content: none;
        }
      }
    }
  }

  &__item {
    position: relative;
    padding-right: 20px;
    &:not(:first-child) {
      padding: 0 20px;
      &::before {
        content: "|";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &__link {
    font-weight: 400;
    span {
      font-weight: 700;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.social-list {
  display: flex;
  align-items: center;
  &__link {
    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.certificate-list {
  display: flex;
  align-items: center;
}

.form {
  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
  }
  &__descr {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }

  &__input {
    border: 2px solid var(--color-blue);
    width: 100%;
    line-height: 40px;
    padding: 0 10px 0 12px;

    & + & {
      margin-top: 10px;
    }
  }

  &__btn {
    display: inline-block;
    margin-top: 10px;
    padding: 0 22px;
    font-family: inherit;
    font-size: 14px;
    line-height: 40px;
    border-radius: 6px;
    text-transform: uppercase;
    background-color: var(--color-blue);
    color: var(--color-white);
  }
}
