.header {
  &-bottomline,
  &-topline {
    .container-narrow {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &-topline {
    margin-bottom: 20px;
    padding: 9px 0;
    color: var(--color-white);
    background-color: var(--color-cerulean);
    font-weight: 600;

    .container-narrow {
      @include max-screen(510px) {
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    @include max-screen(470px) {
      &__links {
        margin-top: 10px;
      }
    }

    &__links-item {
      display: inline-block;

      & + & {
        margin-left: 25px;
      }

      a {
        position: relative;
        color: currentColor;
        text-transform: uppercase;

        &::after {
          content: "";
          position: absolute;
          right: 0;
          bottom: 0;
          width: 0;
          height: 2px;
          opacity: 0;
          background-color: var(--color-white);
          transition: all 0.25s ease-in-out;
        }

        &:focus,
        &:hover {
          &::after {
            width: 100%;
            left: 0;
            right: auto;
            opacity: 1;
          }
        }
      }
    }
  }

  &-bottomline {
    margin-bottom: 30px;
  }
}

.logo {
  display: inline-block;
  img {
    display: block;
  }
  @include max-screen(500px) {
    width: 55%;
  }
}
