.manufacture {
  position: relative;
  margin-bottom: 75px;
  min-height: 590px;
  display: flex;

  &__content {
    position: relative;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    display: flex;
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

    @include max-screen(1020px) {
      padding: 50px 15px;
      flex-direction: column;
    }
  }
  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: rgba($color: #009ddc, $alpha: 0.9);
    }

    &__image {
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

.manufacture-content {
  &__image {
    display: block;
    width: 330px;
    height: 330px;
    background-color: var(--color-white);
    border-radius: 100%;
    flex-shrink: 0;
    overflow: hidden;
    img {
      display: block;
    }
    @include max-screen(570px) {
      width: 250px;
      height: 250px;
      margin-bottom: 20px;
    }
  }

  &__text {
    max-width: 638px;
    color: var(--color-white);
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 65px;
    color: currentColor;
    text-transform: uppercase;
    @include max-screen(475px) {
      font-size: 24px;
      line-height: 1.5;
    }
  }

  &__subtitle {
    position: relative;
    margin-bottom: 22px;
    font-weight: 600;
    font-size: 16px;
    line-height: 65px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100px;
      height: 3px;
      background-color: var(--color-white);
    }

    @include max-screen(580px) {
      font-size: 15px;
      line-height: 1.6;
      padding-bottom: 20px;
    }
    span {
      text-transform: uppercase;
    }
  }

  &__descr {
    margin-bottom: 22px;
    font-size: 14px;
    line-height: 24px;
  }

  &__link {
    display: inline-block;
    padding: 0 18px;
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    color: var(--color-cerulean);
    background-color: var(--color-white);
    border-radius: 6px;
    text-transform: uppercase;
    transition: all 0.25s ease-in-out;

    &:hover {
      color: var(--color-white);
      background-color: var(--color-blue);
    }
  }
}

.manufacture-list {
  display: flex;
  margin-bottom: 40px;
  @include max-screen(580px) {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    @include max-screen(580px) {
      margin-left: 0;
    }
    & + & {
      margin-left: 100px;
      @include max-screen(580px) {
        margin-left: 0;
      }
    }
    svg {
      width: 65px;
      height: 65px;
    }
  }
}
