html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-dark);
  background-color: var(--color-white);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  @include visually-hidden;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1410px;

  &-narrow {
    max-width: 1240px;
  }
}

.title {
  position: relative;
}

.burger {
  --burger-width: 40px;
  --burger-height: 20px;
  --burger-line-height: 2px;

  @include burger;
}
